body {
    background: #F3F5F9;
    font-family: 'Rubik', sans-serif;
}

h5 {
    color: #858B9F;
}

.navbar {
    background: #3F4659;
}

#logo {
    width: 75px;
}

#setup, #draftTool {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    background: #E3E7EF;
    color: #858B9F;
}

#setup i, #draftTool i, .innerHeader i {
    margin-right: 6px;
}

.innerHeader i {
    color: #858B9F;
}

#setupDiv, #draftToolDiv {
    padding: 5px 10px;
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    /* display: none; */
}

#positionCostDiv {
    display: none;
}

.setup-div {
    background: #FCFCFC;
}

.setup-div-over {
    background: red;
    color: #FCFCFC;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.setup-div-over h5 {
    color: #FCFCFC;
}

.flex {
    display: flex;
    align-items: flex-start;
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    background: #FFF;
}

.redText {
    color: red;
}

#closeSetup, #closeDraftTool, #closePositionCost {
    display: none;
}

.positionColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.ownedColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.positionColumn input {
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    text-align: center;
}

#budgetTotal {
    margin-left: 15px;
}

.remaining {
    font-size: 10px;
}

.innerHeader {
    border-top: 1px solid #D3D6DE;
    border-bottom: 1px solid #D3D6DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionColumn button {
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    background: #E3E7EF;
    color: #858B9F;
}

#clearPurchases {
    border: 1px solid #D3D6DE;
    border-radius: 2px;
    background: #E3E7EF;
    color: #858B9F;
}

.clear {
    font-size: 14px;
}

@media only screen and (max-width: 360px) {
    #logo {
        width: 34px;
    }
}